<div class="about-section-container">
  <div class="container">
      <div class="row">
          <div class="col-sm-8 right">
              <div class="jumbotron">
                  <h1><small>The Perfect Wellness Program</small></h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  <p>
                      <a class="btn btn-primary btn-lg" href="#" role="button">BOOK NOW!</a>
                      <a class="btn btn-primary btn-lg" href="#" role="button">CALL US!</a>
                  </p>
              </div>
          </div>
      </div>
  </div>
</div>
