<div class="container-footer">
  <div class="container">
    <div class="row">
        <div class="col-md-6">
          <p><img src="./assets/img/logo-footer.png" alt="The Wellness Clinic"/><br/><br/>
            #26 Franco St. Kali Avenue, Makati City<br/><br/>
              Telephone: 63-982-1928<br/>
              E-mail info@wellnessclinic.com<br/>
              Fax: 63-982-3876</p>
        </div>
        <div class="col-md-6">
          <p>Monday 8:30AM - 5:00PM<br/>
              Tuesday 8:30AM - 5:00PM<br/>
              Wednesday 8:30AM - 5:00PM<br/>
              Thursday 8:30AM - 5:00PM<br/>
              Friday 8:30AM - 5:00PM<br/>
              Saturday Closed<br/>
              Sunday Closed</p>
        </div>
    </div>
  </div>
</div>
