/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'Raleway', sans-serif;
}

.btn-primary {
    color: #fff;
    background-color: #06aeb8;
    border-color: #06aeb8;
}

.btn-primary:hover {
    color: #fff;
    background-color: #03787e;
    border-color: #03787e;
}